# DOMAIN_NAME and SUBDOMAIN together determine where n8n will be reachable from
# The top level domain to serve from
DOMAIN_NAME=

# The subdomain to serve from
SUBDOMAIN=

# The above example serve n8n at: https://n8n.example.com

# Optional timezone to set which gets used by Cron and other scheduling nodes
# New York is the default value if not set
GENERIC_TIMEZONE=Asia/Ho_Chi_Minh

# The email address to use for the TLS/SSL certificate creation
SSL_EMAIL=

TUNNEL_TOKEN=
SUBDOMAIN=n8n
DOMAIN_NAME=
